/* resetcss */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
}

*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol,
dl {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/* base style */

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}


/* sidebar-wrapper */

.sidebar-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 552px;
    bottom: 0;
    z-index: 0;
    width: 40%;
    height: 100%;
    padding: 75px 85px 50px;
    background: #fafafa;
}

.about-container {
    position: absolute;
    left: 85px;
    right: 0px;
    bottom: 15%;
    width: 65%;
}

.contact-me {
    display: inline-block;
    padding: 15px 65px;
    color: #fff;
    border: 0;
    text-decoration: none;
    background: #3b80fe;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 100;
}

.contact-me:hover {
    background: #1660e7;
    box-shadow: 0 16px 32px -6px rgba(0, 0, 0, .2);
}


/* project-information */

.project-information .title {
    font-weight: 700;
    font-size: 24px;
}

.project-information p {
    margin-top: 8px;
    font-size: 14px;
}

.code-icon {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.code-icon svg {
    width: 32px;
    height: 32px;
    margin-left: 16px;
}


/* content-wrapper */

.content-wrapper {
    overflow: visible;
    width: 60%;
    max-width: 1200px;
    margin-left: 40%;
    background: #333;
}

.project li {
    position: relative;
    width: 100%;
    padding: 65px 45px;
    color: #fff;
    font-size: 14px;
}

.react-todo {
    background-image: linear-gradient(180deg, #005ba9, #005ba9);
}

.react-todo img {
    width: 48%;
    margin-top: 25px;
    margin-left: 27%;
}

.vue-resume {
    background-image: linear-gradient(180deg, #b4ddbf, #b4ddbf);
}

.vue-resume img {
    width: 70%;
    margin-bottom: -45px;
    margin-left: 17%;
}

.react-music {
    padding: 45px 65px;
    background-color: #4a4a4a;
}

.react-music img {
    display: block;
    width: 75%;
    height: 75%;
    margin: 45px auto -60px;
}

.wheels {
    width: 100%;
    padding: 45px 65px;
    background-image: linear-gradient(180deg, #54e7c7, #54e7c7);
}

.wheels img {
    display: block;
    width: 50%;
    margin-top: 45px;
    margin-bottom: 0px;
    margin-left: 28%;
}

.ai-robot {
    width: 100%;
    padding: 45px 65px;
    background: #009ee2;
}

.ai-robot img {
    display: block;
    width: 50%;
    margin: 45px 0px -75px 32%;
}

.summary {
    padding: 65px 65px 65px 100px;
    background: #f4f3f3;
}


/* footer */

.footer {
    height: 80px;
    padding: 32px 65px 25px;
}

.footer p {
    text-align: center;
    font-size: 14px;
    color: #999;
    font-family: 'Museosans 100', sans-serif;
}